<section>
    <h4 class="mb-4">({{ term|title }})</h4>
    <div class="stats">
      {% for track in items reversed %}
          <div class="item">
              <img src="{{ track.image_url }}" class="shadow mb-3" alt="" width="165" height="165"> <br>
              <a href="{{ track.external_url.spotify }}"><b>{{ track.name|truncatechars:40 }} </b></a><br>
                <span class="fw-bold">{{ track.primary_artist }}</span>
               <h3 class="mt-2">{{ track.idx }}</h3>
           </div>
       {% endfor %}
   </div>
</section>